<?xml version="1.0" encoding="utf-8"?>
<StorageConfigs>
  <StorageConfig>
    <StorageConfig>
      <StorageName>Current</StorageName>
      <InitialCatalog>LiteTest</InitialCatalog>
      <DataSource>192.168.0.129</DataSource>
      <UserId>rain</UserId>
      <Password>51D5DE589342CBD1</Password>
      <MinimunConnections>1</MinimunConnections>
      <MaximumConnections>600</MaximumConnections>
      <ConnectionTimeout>60</ConnectionTimeout>
      <ConnectionReaperDelay>600</ConnectionReaperDelay>
      <DbDriver>RainHyacinth,RainHyacinth.Lite.Imp.Mssql.MssqlDriver</DbDriver>
      <DbcontextOwnsConnection>true</DbcontextOwnsConnection>
    </StorageConfig>
  </StorageConfig>
</StorageConfigs>